body{
    background-color: black;
    font-style: oblique;
}
.contenedor{
    background-color: whitesmoke;
    padding: 10px;
}
.borde1{
    border-style:inset;
    padding: 10px;
}
.borde2{
    border-style: inset;
    padding: 10px;
}
.borde3{
    border-style: inset;
    padding: 10px;
}